
@font-face {
    font-family: "sans-bold";
    src: url(./Font/Product\ Sans\ Bold.woff2);
}

@font-face {
    font-family: "sans-regular";
    src: url(./Font/Product\ Sans\ Regular.woff2);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "sans-regular";
    color: #fff;
}

html,
body {
    height: 100%;
    width: 100%;
}

html {
    overflow-x: hidden;
}

body {
    overflow-x: clip;
}

body::-webkit-scrollbar {
    display: none;
}

#main {
    width: 100%;
    min-height: 300vh;
}

#main nav {
    position: fixed;
    width: 100%;
    height: 10vh;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 7vw;
    z-index: 99;
}

#main nav img {
    height: 80%;
}

#main nav #center-part {
    display: flex;
    gap: 35px;
}

#main nav #center-part a {
    text-decoration: none;
    color: #fff;
    font-size: 1.25vw;
    background-color: rgba(0, 0, 0,0.5);
    padding: 5px 10px;
    border-radius: 50px;
    transition: all 0.5s ease-in-out;
}

#main nav #center-part a:hover{
    background-color: rgba(0, 0, 0,1);
}

#main nav #right-part {
    display: flex;
    gap: 35px;
}

#main nav #right-part input {
    padding: 5px 15px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    color: #fff;
    border: none;
    outline: none;
    font-size: 1.25vw;
}

#main nav #right-part #search-btn {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    transition: all 0.5s ease-in-out;
}

#main nav #right-part #search-btn:hover{
    background-color: rgba(0, 0, 0, 1);
}

#main nav #right-part input:focus {
    outline: none;
}

#main #page1 {
    width: 100%;
    height: 100vh;
    background: linear-gradient(150deg, rgb(255, 145, 0), rgb(255, 51, 0));
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#main #page1 h1 {
    font-size: 22vw;
    color: #fff;
    font-family: "sans-bold";
}

#main #page1 #fanta {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%,0%);
    width: 40%;
    z-index: 96;
    will-change: transform;
    pointer-events: none;
}

#main #page1 #half-orange {
    position: absolute;
    top: 15%;
    left: 32%;
    width: 15%;
    z-index: 95;
    will-change: transform;
}

#main #page1 #oranges {
    bottom: 0%;
    right: 32%;
    position: absolute;
    width: 15%;
    z-index: 97;
    will-change: transform;
}

#main #page1 #leaf {
    top: 18%;
    left: 8%;
    position: absolute;
    width: 15%;
    transform: rotate(60deg);
    will-change: transform;
}

#main #page1 #leaf2 {
    bottom: 5%;
    right: 5%;
    position: absolute;
    width: 13%;
    transform: rotate(-80deg);
    will-change: transform;
}

#main #page1 #coco-leaf {
    top: 10%;
    right: 0%;
    position: absolute;
    width: 25%;
}



#main #page2 {
    width: 100%;
    height: 100vh;
    background-color: #3f2929;
    display: flex;
}

#main #page2 .container {
    width: 50%;
    height: 100%;
}

#main #page2 .container svg {
    margin-top: 40vh;
    width: 80%;
    transform: rotateX(80deg);
}

#main #page2 #right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1vh;
}

#main #page2 #right h1 {
    margin-top: -18vh;
    font-size: 50px;
    font-family: "sans-bold";
    z-index: 2;
}

#main #page2 #right p {
    text-align: justify;
    width: 90%;
    font-size: medium;
    color: #dadada;
}

#main #page3 {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #D6D85D;
    position: relative;
}

#main #page3 .card {
    width: 25%;
    height: 80vh;
    border-radius: 20px;
    margin-top: 40px;
    padding-bottom: 20px;
    position: relative;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}
#main #page3 .card:hover{
    transform: scale(1.02) translateY(-5px);
    transition: all 0.3s ease-in-out;
}
#main #page3 .card:nth-child(1){
    background-color: rgb(68, 160, 68);
}

#main #page3 .card:nth-child(2){
    background:linear-gradient(150deg, rgb(255, 145, 0), rgb(255, 51, 0));
}

#main #page3 .card:nth-child(3){
    background-color: orange;
}

#main #page3 .card .main-img1 {
    height: 70%;
    position: absolute;
    top: 0%;
    left: 12%;
    z-index: 10;
    will-change: transform;
}

#main #page3 .card .bg-img1 {
    width: 90%;
    position: absolute;
    top: -20%;
    left: 3%;
    will-change: transform;
}

#main #page3 .card .main-img3 {
    height: 75%;
    position: absolute;
    top: -2%;
    left: 8%;
    z-index: 10;
    will-change: transform;
}

#main #page3 .card .bg-img3 {
    width: 90%;
    position: absolute;
    top: -28%;
    left: 3%;
    will-change: transform;
}

#main #page3 .card p {
    font-size: 14px;
    width: 40%;
    text-align: center;
    font-weight: 500;
    position: absolute;
    bottom: 18%;
    left: 50%;
    transform: translate(-50%,0);
}

#main #page3 .card button {
    background-color: #fff;
    border-radius: 20px;
    font-size: 15px;
    padding: 10px 30px;
    border: none;
    font-weight: 900;
    cursor: pointer;
    position: absolute;
    bottom: 8%;
    left: 50%;
    transform: translate(-50%,0) scale(1);
    transition: all 0.5s ease-in-out;
}
#main #page3 .card:nth-child(1) button{
    color: rgb(68, 160, 68);
}

#main #page3 .card:nth-child(1) button:hover{
    background-color: rgb(68, 160, 68);
    color: #fff;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
    transform: translate(-50%,0) scale(1.01);
}

#main #page3 .card:nth-child(2) button{
    color: rgb(255, 51, 0);
}

#main #page3 .card:nth-child(2) button:hover{
    background-color:  rgb(255, 51, 0);
    color: #fff;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
    transform: translate(-50%,0) scale(1.01);
}

#main #page3 .card:nth-child(3) button{
    color: orange;
}

#main #page3 .card:nth-child(3) button:hover{
    background-color:  orange;
    color: #fff;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
    transform: translate(-50%,0) scale(1.01);
}
